.submit-button {
    padding: 10px;
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    font: bold 18px arial,sans-serif;
    text-shadow: none;
    cursor: pointer;
    box-shadow: 0 2px #999;
}

.submit-button:hover {background-color: #3e8e41}

.submit-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}